.header-wrapper {
    width: 100vw;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header {
    display: flex;
    grid-gap: 10px;
    width: 100%;
    height: 55px;
    margin-top: auto;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.header .logo {
    height: 24px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.header h1 {
    font-size: 17px;
}

.header span {
    font-size: 17px;
    font-weight: 500;
    color: var(--sub-font-color);
}

.header a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    grid-gap: 15px;
}

.navigation a {
    opacity: 0.8;
    transition: 0.15s ease;
}

.navigation a:hover {
    opacity: 1;
}

.navigation a:active {
    opacity: 0.6;
}

.title-wrapper {
    display: flex;
    font-size: 18px;
    grid-gap: 5px;
    padding-right: 15px;
    align-items: center;
    border-right: 1px solid var(--main-border-color);
}

.left {
    display: flex;
    grid-gap: 15px;
    align-items: center;
}

.links {
    display: flex;
    grid-gap: 15px;
}

.social-network-image {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

iframe {
    width: 100%;
    height: auto;
}

.close-menu-button, .menu-button {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2px;
    left: 2px;
    z-index: 3;
}

.menu-button {
    display: none;
    flex-direction: column;
    grid-gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}

.menu-button-line {
    height: 2px;
    width: 22px;
    background: #707278;
    transition: 0.25s ease;
}

.close-menu-button {
    left: auto;
    right: 5px;
    top: 30px;
}

.close-menu-button .menu-button-line:nth-child(1) {
    width: 35px;
    transform: translateY(2px) rotate(45deg);
}

.close-menu-button .menu-button-line:nth-child(2) {
    width: 35px;
    transform: rotate(-45deg);
}

.menu {
    height: 0svh;
    width: 100vw;
    background: white;
    position: fixed;
    display: none;
    top: 0px;
    left: 0;
    z-index: 2;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    opacity: 0;
    grid-gap: 10px;
    transition: 0.5s ease;
    overflow: hidden;
}

.menu[id="opened"] {
    height: 100vh;
    display: flex;
    opacity: 1;
}

.menu a { 
    text-decoration: none;
    color: #000;
    width: fit-content;
}

@media (max-width: 700px) {
    .header {
        justify-content: center;
    }

    .left {
        grid-gap: 0px;
    }

    .navigation a {
        display: none;
    }

    .links {
        display: none;
    }

    .title-wrapper {
        border: none;
        padding: 0;
    }

    .title-wrapper h1 {
        font-weight: 700;
    }

    .title-wrapper h1, .title-wrapper span {
        font-size: 20px !important;
    }

    .menu-button {
        display: flex;
    }

    .header .logo {
        height: 22px;
    }
}